<?xml version="1.0"?><config>    <modules>        <MageProfis_Slider>            <version>0.0.1</version>        </MageProfis_Slider>    </modules>    <global>    	<helpers>			<slider>				<class>MageProfis_Slider_Helper</class>			</slider>		</helpers>		<blocks>			<slider>				<class>MageProfis_Slider_Block</class>			</slider>		</blocks>    </global>    <frontend>	    <layout>	        <updates>	            <slider>	                <file>MageProfis_Slider.xml</file>	            </slider>	        </updates>	    </layout>	</frontend></config>